/* Hero Section Styling */

.hero__section {
  background-color: #ececec;
}

.hero__container {
  display: flex;
  flex-direction: column;
  gap: 6.4rem;

  width: 100%;
  max-width: 140rem;
  margin: 0 auto;
  padding: 6.4rem 4.8rem;
}

.hero__stack {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

/* Text Styling */

.hero__stack-heading {
  font-size: 2.4rem;
  font-weight: 700;
  color: #222;

  margin-bottom: 1rem;
}

.hero__stack-title {
  font-size: 3.2rem;
  line-height: 1.2;
  color: #222;

  margin-bottom: 2rem;
}

.hero__stack-description {
  font-size: 1.8rem;
  line-height: 1.6;
  color: #333;

  max-width: 55ch;
}

/* Image Styling */

.hero__container img {
  object-fit: contain;

  width: 70%;
  height: auto;
  max-width: 40rem;

  margin: 0 auto;
}
