.institution__collapsible {
  display: flex;
  align-items: center;
  gap: 1.6rem;

  background-color: #e2e2e2;
  color: #444;
  cursor: pointer;
  padding: 1.6rem;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

  font-size: 1.6rem;
  line-height: 1.15;
  font-weight: 600;
}

.institution__collapsible:hover {
  background-color: #ccc;
}

.institution__content {
  overflow: hidden;
  height: 0;
  transition: height 0.35s ease;
  background-color: #f1f1f1;
}

.institution__content--active {
  overflow: hidden;
  background-color: #f1f1f1;
}

.institution__text {
  font-size: 1.6rem;
  line-height: 1.15;
  font-weight: 500;
  padding: 1.4rem;
  color: #5a5a5a;
}

.institution__collapsible svg {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
}

.institution__address svg,
.institution__send-to-page svg,
.institution__website-text svg {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
}

.institution__address,
.institution__send-to-page,
.institution__website-text {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: 500;
  padding: 1.4rem;
  color: #626262;
}

.institution__website {
  display: flex;
  justify-content: center;
  font-size: 1.8rem;
  line-height: 1.05;
  font-weight: 600;
  padding: 2.4rem 0;
}
