/* Institutions Section Styling */

.institutions__section {
  padding: 2.4rem 4.8rem;

  background-color: #e7e7e7;
}

.institutions__section-header {
  padding-bottom: 3.2rem;
  border-bottom: 2px solid #ccc;
}

.institutions__section-grid {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;

  margin-top: 6.4rem;
}

/* Text Styling */

.institutions__section-title {
  font-size: 3rem;
  font-weight: 700;
  color: #222;

  margin-bottom: 2rem;
}

.institutions__section-subtitle {
  font-size: 1.7rem;
  line-height: 2.6rem;
  color: #444;

  margin-top: 1.6rem;
  margin-bottom: 0.8rem;
}

/* Navbar Styling */

.institutions__section-navbar {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.2rem;

  width: fit-content;
  margin: 4.8rem auto;
  padding: 1.6rem;
  border: 1px solid rgba(255, 255, 255, 0.28);
  border-radius: 12.8rem;

  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(12px);
}

.institutions__section-navbar svg {
  color: #575757;

  opacity: 0.9;
}

.institutions__section-navbar svg:hover {
  opacity: 1;

  transform: scale(1.1);
}

/* List Styling */

ul.institutions__section-categories-list {
  list-style-type: disc;
  padding-left: 2.4rem;

  margin-top: 1.2rem;
  margin-bottom: 1.6rem;

  color: #555;
  font-size: 1.5rem;
  line-height: 2.4rem;
}

/* Button Styling */

.institutions__section-btn {
  display: flex;
  align-items: center;

  padding: 0 1.8rem;
  padding-top: 3.6px;
  border: none;
  border-radius: 12.8rem;
  border-top: 2px solid;
  border-left: 2px solid;
  border-right: 2px transparent;

  color: #e2dfde;

  background: none;

  cursor: pointer;
}
