/* Standard Buttons (Dynamic) */

.btn {
  display: inline-block;

  padding: clamp(1rem, 1.3vw, 1.6rem) clamp(2rem, 3vw, 3.2rem);
  border-radius: 9px;
  border: none;

  font-family: inherit;
  font-size: clamp(1.4rem, 1.6vw, 1.8rem);
  font-weight: 600;
  text-decoration: none;

  cursor: pointer;
  transition: background-color 0.25s ease, box-shadow 0.25s ease,
    transform 0.2s ease;
}

.btn:hover,
.btn:active {
  background-color: #0d006f;
  box-shadow: 0 4.8px 9.6px rgba(0, 0, 0, 0.2);

  transform: translateY(-2px);
}

.btn:active {
  transform: translateY(-1px);
}

/* Full Button */

.btn-full {
  color: #ececec;

  background-color: #140096;
  box-shadow: 0 2.4px 4.8px rgba(0, 0, 0, 0.1);
}

.btn-full:hover,
.btn-full:active {
  background-color: #0d006f;
  box-shadow: 0 4.8px 9.6px rgba(0, 0, 0, 0.2);

  transform: translateY(-2px);
}

.btn-full:active {
  transform: translateY(-1px);
}

/* Outline Button */

.btn-outline {
  border: 2px solid #140096;

  color: #140096;

  background-color: transparent;
}

.btn-outline:hover,
.btn-outline:active {
  background-color: rgba(20, 0, 150, 0.1); /* subtle navy tint */

  transform: translateY(-2px);
}

.btn-outline:active {
  transform: translateY(-1px);
}

/* Utility */

.center-text {
  text-align: center;
}

.margin-right-md {
  margin-right: 4.8rem !important;
}

.margin-right-sm {
  margin-right: 1.6rem !important;
}

strong {
  font-weight: 500;
}
